<div class="header">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/">Logout</a>
</div>
  <h3>Edit Component</h3>
  <div *ngIf='errors'>
    <p>{{errors}}</p>
  </div>
  <div *ngIf='edittopic'>
   <form (submit)='updateTopic()'>
    <div class="form-group">
      <label for="topic">Topic:</label>
      <input type="text" name="topic" [(ngModel)]='edittopic.topic' class="form-control">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="text" name="desc"  [(ngModel)]='edittopic.desc' class="form-control">
    </div>
    <div class="form-group">
      <label for="catg">Gategory</label>
      <select name="catg"  [(ngModel)]='edittopic.catg' class="form-control">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>    
    </div>
    <button type="submit" class="btn btn-primary">Edit topic!</button>
  </form>
</div>