
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Pets Available for Adoption</h1>
        <p class="lead text-muted">Data supported by Petfinder API</p>
        <a href="/search" class="btn btn-primary">Find a Pet to Adopt</a>
    </div>
</section>
<!--<div style="background: url('girl.jpg') no-repeat left center; background-size: cover;">HI</div>-->
<!--<div class="item" >
  <div class="container">
    <div class="carousel-caption">
      <h1>Another example headline.</h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget.</p>
      <a class="btn btn-large btn-primary" href="#">Learn more</a>
    </div>
  </div>
</div>-->

<div class="album text-muted">
    <div class="container">
    <div class="row">
        <div class="card" *ngFor="let pet of pets" style="display:inline-block; margin:10px 30px">
            <img src="{{pet.media.photos[1].pn}}" alt="Card image cap" [routerLink]="['/show', pet.id]">
            <p class="card-text">{{pet.name}}</p>
        </div>
    </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    $(function () {
    Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
    });
</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{{pets|json}}

