<div class="container">
  <h3>Hello!</h3>
  <h3>Please enter your name to join and share ideas</h3>
  <div class="alert alert-danger" *ngIf="name.errors && (name.touched || loginForm.submitted ) ">
    <p *ngIf="name.errors.required">Name must not be blank! </p>
    <p *ngIf="name.errors.minlength ">Name must be longer than 4 characters </p>
  </div>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <div class="form-group">
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required minlength="4">
      <input type="submit" name="" value="Enter" class="btn btn-primary">
    </div>
  </form>
</div>
