<div class="header">
    <a routerLink="/new">Creat a New Poll</a>
    <a routerLink="/">Logout</a>
</div>

<div class="container">
  
  <h2>Current Polls:</h2>
  <br>
  <input value="Search">
  <br>
  <br>
  <div *ngIf = 'errors'>
    <p>{{errors}}</p>
  </div>
  <div *ngIf='topics'>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Survey Question</th>
        <th>Date Posted</th>
        <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor = 'let topic of topics'>
        <td>{{topic.authorName}}</td>
        <td><a [routerLink]="['/show', topic._id]">{{topic.topic}}</a> </td>
        <td>{{topic.createdAt|date:'longDate'}}</td>
        <td>
          <div *ngIf="topic._author == user._id">
            <a (click) = 'delete(topic._id)'>Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>


