<div class="header">
    <a routerLink="/dashboard">Go to Polls</a>
</div>
<div class="aquaBorder">
<h3>{{showTopic.topic}}</h3>
<p>Click the vote button to choose one.</p>
<div *ngIf = 'errors'>
  <p>{{errors}}</p>
</div>
<div *ngIf='showTopic'>
    <table class="table table-striped">
      <thead>
        <th>Option</th>
        <th>Current Count of Votes</th>
        <th>Actions</th>
      </thead>
      <tbody>
      <tr>
        <td>{{showTopic.option1}}</td>
        <td>{{optionCounts[0]}}</td>      
        <td>
            <a (click) = 'vote(showTopic.option1)'>Vote</a>
        </td>
      </tr>

      <tr>
        <td>{{showTopic.option2}}</td>
        <td>{{optionCounts[1]}}</td>      
        <td>
            <a (click) = 'vote(showTopic.option2)'>Vote</a>
        </td>
      </tr>
      <tr>
        <td>{{showTopic.option3}}</td>
        <td>{{optionCounts[2]}}</td>      
        <td>
            <a (click) = 'vote(showTopic.option3)'>Vote</a>
        </td>
      </tr>

      <tr>
        <td>{{showTopic.option4}}</td>
        <td>{{optionCounts[3]}}</td>      
        <td>
            <a (click) = 'vote(showTopic.option4)'>Vote</a>
        </td>
      </tr>      
    </tbody>
    </table>
</div>
</div>