<div class="header">
    <a routerLink="/dashboard">Cancel</a>
    <a routerLink="/">Logout</a>
</div>
<div class="container">
  <h3>Put the question and options here:</h3>
  <div *ngIf='errors'>
    <p>{{errors}}</p>
  </div>
   <form #topicForm="ngForm" (submit)="onSubmit(topicForm)">

    <div class="form-group">
      <label for="topic">Question:</label>
      <input type="text" name="topic" #topic="ngModel" [(ngModel)]='newtopic.topic' class="form-control" required minlength="8">
    </div>
    <div class="alert alert-danger" *ngIf="topic.errors && (topic.touched || topicForm.submitted ) ">
      <p *ngIf="topic.errors.required">No empty entries! </p>
      <p *ngIf="topic.errors.minlength ">Question must be longer than 8 characters! </p>
    </div>

    <div class="form-group">
      <label for="desc">Option 1:</label>
      <input type="text" name="option1"  #option1="ngModel" [(ngModel)]='newtopic.option1' class="form-control" required minlength="3">
    </div>
    <div class="alert alert-danger" *ngIf="option1.errors && (option1.touched || topicForm.submitted ) ">
      <p *ngIf="option1.errors.required">No empty entries! </p>
      <p *ngIf="option1.errors.minlength ">Option must be longer than 3 characters! </p>
    </div>

    <div class="form-group">
      <label for="desc">Option 2:</label>
      <input type="text" name="option2"  #option2="ngModel" [(ngModel)]='newtopic.option2' class="form-control" required minlength="3">
    </div>
    <div class="alert alert-danger" *ngIf="option2.errors && (option2.touched || topicForm.submitted ) ">
      <p *ngIf="option2.errors.required">No empty entries! </p>
      <p *ngIf="option2.errors.minlength ">Option must be longer than 3 characters! </p>
    </div>

    <div class="form-group">
      <label for="desc">Option 3:</label>
      <input type="text" name="option3"  #option3="ngModel" [(ngModel)]='newtopic.option3' class="form-control" required minlength="3">
    </div>
    <div class="alert alert-danger" *ngIf="option3.errors && (option3.touched || topicForm.submitted ) ">
      <p *ngIf="option3.errors.required">No empty entries! </p>
      <p *ngIf="option3.errors.minlength ">Option must be longer than 3 characters! </p>
    </div>

    <div class="form-group">
      <label for="desc">Option 4:</label>
      <input type="text" name="option4"  #option4="ngModel" [(ngModel)]='newtopic.option4' class="form-control" required minlength="3">
    </div>
    <div class="alert alert-danger" *ngIf="option4.errors && (option4.touched || topicForm.submitted ) ">
      <p *ngIf="option4.errors.required">No empty entries! </p>
      <p *ngIf="option4.errors.minlength ">Option must be longer than 3 characters! </p>
    </div>

    <button type="submit" class="btn btn-primary">Create Poll</button>
  </form>
</div>
